section#panic{
  position: relative;
}

#panicButton{
  min-height: 120px;
  min-width: 120px;
  line-height: 120px;
  background-color: #FF0000;
  border-radius: 60px;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: RobotoSlab, Inconsolata, Consolas, monospace;
  font-weight: bold;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -60px;
}
