#panicLog {
  position: absolute;
  top: 8px; 
  right: 8px;
  color: rgba(255,255,255,0.8);
  z-index: 20;
}
#panicLog .logline{

}

#panicLog .pilotName{
  font-weight: bold;
  font-family: Roboto, Arial, sans-serif;
}
#panicLog .backupYes{
  color: #00E804;
  font-weight: bold;
  font-family: RobotoSlab, inconsolata, consolas, monospace;
}
#panicLog .backupNo{
  font-family: RobotoSlab, inconsolata, consolas, monospace;
  color: #FF0000;
}
#panicLog .panicked{
  color: #FF530D;
  font-family: RobotoSlab, inconsolata, consolas, monospace;
}
.hidden{
  display: none;
}

body{
  background-color: #444444;
  background-image: repeating-linear-gradient(
    45deg, transparent, 
    transparent 10px, 
    rgba(248, 194, 18, 1) 10px, 
    rgba(248, 194, 18, 1) 20px);
  padding: 25px;
  font-family: Roboto, arial, sans-serif;
}
#overlay{
  position: absolute;
  bottom: 8px; 
  left: 8px;
  color: rgba(255,255,255,0.8);
  z-index: 20;
}
#overlay div{
  margin-top: 8px;
}
#overlay label{
  font-weight: thin;
  padding: 1;
  line-height: 20px;
  height: 20px;
  width: 4em;
}
#pilotName, #pilotSystem{
  margin-left: 16px;
  padding: 0;
  line-height: 20px;
  height: 20px;
  color: white;
  border: 1px dashed white;
}
#darkBG{
  background-color: #444444;
}
.banner{
  display: block;
  background-color: rgba(232,63,12, 0.6);
  color: white;
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  min-height: 40px;
  line-height: 40px;
  border: 1px white solid;
  margin: 8px 4px;
  cursor: pointer;
}
.banner.hidden{
  display: none;
}