doctype html
html
  head
    script(src="http://cdn.pubnub.com/pubnub.min.js", type='text/javascript')
    script(src='bower_components/angular/angular.js', type='text/javascript')
    script(src='bower_components/sopro-material/js/angular-material.js', type='text/javascript')
    script(src='bower_components/angular-animate/angular-animate.js', type='text/javascript')
    script(src="bower_components/pubnub-angular/lib/pubnub-angular.js", type='text/javascript')
    script(src='bower_components/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='panic-main.js', type='text/javascript')
    block scripts


    link(href='bower_components/sopro-material/css/angular-material.css', rel='stylesheet')
    link(href='bower_components/sopro-material/css/sopro-material.css', rel='stylesheet')
    block stylesheets

  body(
  data-is-trusted=locals.isTrusted
  data-panic-received=locals.panicReceived
  data-pilot-name = locals.pilot.name || ""
  data-pilot-system = locals.pilot.system || ""
  )
    block body