extends layout
block append scripts
  script(src='panic.js', type='text/javascript')
block append stylesheets
  link(href='panic.css', rel='stylesheet')

block append body
  section#panic(
  ng-app="panic" 
  ng-controller="panicCtrl"
  layout="vertical"
  layout-fill
  )
    div#panicButton(ng-click="broadcastPanic()") PANIC
    section#text
      span.block#sent Your panic was sent...
      div#responses(ng-repeat="response in responses")