extends rest-layout
block append scripts
  //script(src='panic.js', type='text/javascript')
  meta(id="metaRefresh", http-equiv="refresh", content="5")
  script.
    var refreshTime = 5;
    window.setInterval(tickRefresh, 1000);
    function tickRefresh(){
      refreshTime -= 1;
      document.getElementById('refreshTimer').innerHTML = refreshTime;
    }
block append stylesheets
  link(href='panic.css', rel='stylesheet')

block append content
  section#panic
    include rest-paniclog
    include rest-overlay
    a#panicButton(href="/action/panic") PANIC
  span#refreshTimer 15